<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="findit.sedi.viktor.com.findit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        android:theme="@style/MyMaterialTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.profile_info.ProfileInfoActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".ui.preloader.PreviewActivity"
            android:noHistory="true"></activity>
        <activity android:name=".ui.scanner_code.QRCodeCameraActivity" />
        <activity
            android:name=".ui.find_tainik.QuestTainikActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.tournament.TounamentActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.rating.RatingActivity" />
        <activity
            android:name=".ui.find_tainik.NearbyTainikActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".ui.finds_activity.FindsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.show_first_tips.ShowTipsActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.about_application.AboutActivity" />


        <service android:name=".common.background_services.MyService" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dbe4af175079336375013a889dbb38bae26e49c8" />
    </application>


</manifest>
